{{ define "header" }}
  {{- partial "header.html" . -}}
{{ end }}
{{ define "main" }}
  <main class="w-50 center">
    <h1 class="ttu fw4 f2 moon-gray">{{ .Title }}</h1>
    <h2 class="gold">Welcome</h2>
      {{ .Content }}

      {{ $paginator := .Paginate (where .Data.Pages "Type" "post") }}
        {{ partial "pagination.html" . }}
        {{ range $paginator.Pages }}
            <h2><a class="link dim dark-green" href="{{ .Permalink }}">{{ .Title }}</a></h2>
            {{- partial "summary.html" . -}}
        {{ end }}
        {{ partial "pagination.html" . }}
  </main>
{{ end }}
{{ define "footer" }}
 {{- partial "footer.html" . -}}
 {{- partial "bodyend.html" . -}}
{{ end }}

