{{ define "header" }}
  {{- partial "header.html" . -}}
{{ end }}
{{ define "main" }}
  <main class="w-50 center">
    <h1 class="ttu fw4 f2 moon-gray">{{ .Title }}</h1>
    <h2 class="gold">Welcome</h2>
      {{ .Content }}

      {{ $paginator := .Paginate (where .Data.Pages "Type" "posts") }}
        {{ partial "pagination.html" . }}
        {{ range $paginator.Pages }}
            <h2><a class="link dim dark-green" href="{{ .Permalink }}">{{ .Title }}</a></h2>
            {{- partial "summary.html" . -}}
        {{ end }}
        {{ partial "pagination.html" . }}

        <section class="mw7 center">
            <h2 class="fw1 ph3 ph0-l">News</h2>
            <article class="bt bb b--black-10">
              <div class="db pv4 ph3 ph0-l black">
                <div class="flex flex-column flex-row-ns">
                  <div class="pr3-ns mb4 mb0-ns w-100 w-20-ns">
                    <h3>2019-01-11</h3>
                  </div>
                  <div class="w-100 w-80-ns pl3-ns">
                    <p class="f6 f5-l lh-copy">[<a href=archive/201901/11190226.html>19:02</a>] As Jamie Zawinski <a href="https://www.jwz.org/blog/2019/01/we-are-now-closer-to-the-y2038-bug-than-the-y2k-bug/">points out</a>, we are already closer to the occurrence of the <a href="https://en.wikipedia.org/wiki/Year_2038_problem">Year 2038 problem</a> than we are to <a href="https://en.wikipedia.org/wiki/Year_2000_problem">Y2K</a>.</p>
                    <p class="f6 f5-l lh-copy">[<a href=archive/201901/09180358.html>18:03</a>] A <a href="https://en.wikipedia.org/wiki/Wifipicning">wifipicning</a> is a social gathering around a wireless network, which is not connected to the internet. (A concept reminiscent of a pirate box.)</p>
                  </div>
                </div>
              </div>
            </article>
          </section>

  </main>
{{ end }}
{{ define "footer" }}
 {{- partial "footer.html" . -}}
 {{- partial "bodyend.html" . -}}
{{ end }}

