{{ define "header" }}
  {{- partial "header.html" . -}}
{{ end }}
{{ define "main" }}
<div class="">
  <main class="w-50 mw7 center bg-white">
    <h2 class="gold">Welcome</h2>
    <div class="pb2">{{ .Content }}</div>
      {{ $paginator := .Paginate (where .Data.Pages "Type" "posts") }}
        {{ partial "pagination.html" . }}
        <section class="mw7 center">
        {{ range $paginator.Pages.GroupByDate "02 Jan 2006" }}
        <article class="">
          <div class="db pv2 ph3 ph0-l black">
            <div class="flex flex-column flex-row-ns bt b--black-10">
              <div class="pr3-ns mb4 mb0-ns w-100 w-20-ns">
                <h3>{{ .Key }}</h3>
              </div>
              <div class="w-100 w-80-ns pl3-ns">
              {{ range .Pages }}
              <p class="f6 f5-l lh-copy"><a class="link dim dark-green b" href="{{ .Permalink }}">&laquo;{{ .Date.Format "15:04:05" }}&raquo;</a> {{- .Content -}}</p>
              {{ end }}
              </div>
            </div>
          </div>
        </article>
        {{ end }}
        </section>
        {{ partial "pagination.html" . }}
  </main>
</div>
{{ end }}
{{ define "footer" }}
 {{- partial "footer.html" . -}}
 {{- partial "bodyend.html" . -}}
{{ end }}

